label,
input,
textarea {
  display: block;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.preview {
  max-width: 700px;
  padding: .7em;
  border: 1px solid gray;
  font-size: 0.7rem;
  align-self: flex-start;
  position: sticky;
  top: 50px;
}

.name {
  text-align: center;
  font-weight: 700;
  border-bottom: 1px solid black;
}

.basic-info > div:nth-of-type(2) {
  text-align: center;
}

h3 {
  text-align: center;
}

.university-name,
.company-name {
  font-weight: 700;
}